/1.1 Is Unique/.vs/1.1 Is Unique/v15/*.suo
/1.1 Is Unique/.vs/1.1 Is Unique/v15/Server/sqlite3/*.lock
/1.1 Is Unique/.vs/1.1 Is Unique/v15/Server/sqlite3/*.ide
/1.1 Is Unique/.vs/1.1 Is Unique/v15/Server/sqlite3/*.ide-shm
/1.1 Is Unique/.vs/1.1 Is Unique/v15/Server/sqlite3/*.ide-wal
/1.1 Is Unique/1.1 Is Unique/obj
/1.1 Is Unique/1.1 Is Unique/bin/Debug/netcoreapp2.0
/1.2 Check Permutation/bin/Debug/netcoreapp2.0
/1.2 Check Permutation/obj/Debug/netcoreapp2.0
/1.2 Check Permutation/obj
